{% extends "base.html" %}

{% set active_page = "login" %}

{% block title %}
    Login
{% endblock %}

{% set signup = signup|default(False) -%}
{%block content %}
    <h1 class="title">{% block header %}
    {% endblock %}</h1>
    <!-- code modified from bootstrap website https://getbootstrap.com/docs/4.0/components/forms/ -->
    <!-- and https://getbootstrap.com/docs/4.0/components/card/ -->
    <div class="card" style="width: 30rem">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group {{ 'd-none' if not signup else ''}}"">
                    <label for="exampleInputPassword1">Re-enter your password</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block footer %}
            {% endblock %}
        </div>
    </div>
{% endblock%}
