{% extends "base.html" %}

{% set active_page = "solve" %}

{% block title %}
    Solve a problem!
{% endblock %}

{%block content %}
    <h1>{{problem.title}} ({{problem.subject}})</h1>
    <div class="jumbotron">
        {{problem.content}}
    </div>
    <form method="POST">
        <label>Enter your answer here</label>
        <input type="text" class="form-control" id="answer" name="answer"> <button type="submit" class="btn">Submit</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock%}
