{% extends "base.html" %}

{% set active_page = "solve" %}

{% block title %}
    Solve a problem!
{% endblock %}

{%block content %}
    <h1>{{problem.title}} ({{problem.subject}})</h1>
    <div class="jumbotron">
        {{problem.content}}
    </div>
    <form method="POST">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <input type="text" class="form-control" id="answer" name="answer" placeholder="Enter your answer"> 
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5">
                <button type="submit" class="btn">Submit</button> 
            </div>
        </div>
        
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock%}
