.navbar{
    background-color:#ADEEE3;
}

.btn{
    background-color:rgb(242, 49, 49, 0.65);
}

.jumbotron{
    background-color:#86DEB7;
}

.carousel-caption{
    font-weight: bold;
    color:white;
    font-size:8vw;
    top:35%;
}

.card-deck{
    margin-top:5px;
}

#home-button{
    margin-top: 30px;
}

/* targets only the cards on the home screen, since those are the only ones within a card-deck */
/* avoids putting space/color around the cards on the login/signup pages */
.card-deck > .card{
    margin:20px;
    background-color:#86DEB7;
}

.card-columns > .card{
    margin:20px;
    background-color:#86DEB7;
}

.title{
    margin-top:25px;
    margin-bottom:25px;
}

img{
    width:100%;
}

/* 
.maintxt {
    background-image: url(../images/background.jpeg);
    background-size: cover;
} */